name: deploy-auth


on:
  push:
    branches: 
      - master
    paths: 
      - 'auth/**'


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd auth && docker build -t mostafasaad/auth . &&
      - run: docker login -u $DOCKER_USERNAME -P $DOCKER_PASSWORD
        env:
          DOCKER_USERNAME: ${{secrets.DOCER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      - run: docker push mostafasaad/auth
